.buttons {
    display: flex;
    gap: 29.4px;
    margin-top: 47px;
    width: 100%;
}


.buttons__item {
    flex-grow: 1;
    padding: 12px 19.7px;
    border: .5px solid var(--primary-color);
    border-radius:16.8px ;
    font-size: 15.12px;
    letter-spacing: 0px;
}

.buttons__item.active {
    background: var(--button-background);
    border: 0;
    color: var(--button-color-2);
}

@media (max-width:1700px) {
    
    .buttons {
        flex-wrap: wrap;
    }

    .buttons__item {
        flex-grow: 0;
    }
}



@media (max-width:1000px) {
    .buttons {
        gap: 15px;
    }
}

@media (max-width:768px) {
    .buttons__item {
        padding: 8px 12px;
        font-size: 12px;
    }
}