.sidebar {
    width: 310px;
    flex-shrink: 0;
    min-height: 100vh;
    padding: 22.5px 0 22.5px;
    border-right: 0.5px var(--secondary-color) solid;
}

.sidebar__title {
    font-family: 'Futura';
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: .5px;
    padding: 0 40px 0 50px;
}

.sidebar__links {
    margin-top: 66px;
    font-size: 18px;
}

.sidebar__link {
    white-space: nowrap;
    display: flex;
    color: var(--sidebar-link);
    fill: var(--sidebar-link);
    align-items: center;
    gap: 0 26px;
    padding: 19.5px 64px 19.5px 44px;
}

.sidebar__link svg {
    flex-shrink: 0;
}

.sidebar__link.active {
    color: var(--primary-color);
    fill: var(--primary-color);
    background-color: var(--secondary-color);
}

.sidebar__link.mobile {
    display: none;
}

@media (max-width:1350px) {

    .sidebar {
        position: fixed;
        bottom: 10px;
        left: 1%;
        width: 98%;
        min-height: auto;
        background-color: rgba(68, 68, 86, 0.826);
        border-radius: 30px;
        z-index: 100;
        padding: 10px;
        border: none;
    }

    .sidebar__title {
        display: none;
    }

    .sidebar__links {
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

    .sidebar__link.display {
        display: none;
    }

    .sidebar__link.active {
        background: linear-gradient(#e66465, #9198e5);
    }

    .sidebar__link {
        height: 100px;justify-content: center;
        padding: 18px 8px;
        font-size: 14px;
        border-radius: 20px;
        flex-grow: 1;
    }

    .sidebar__link svg {
        display: none;
    }

    .sidebar__link span {
        display: none;
    }

    .sidebar__link.mobile {
        display: flex;
    }
}



@media (max-width:768px) {

    .sidebar__links {
        flex-wrap: wrap;
        gap: 12px;
        justify-content: space-between;
    }

    .sidebar__link {
        font-size: 12px;
        padding: 14px 4px;
    }


}


@media (max-width:480px) {}