.num {
    position: absolute;
    border-radius: 50%;
    font-family: sans-serif;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-size {
    font-size: 25px;
    width: 10%;
    height: 10%;
    z-index: 3;
}

.middle-size {
    font-size: 18px;
    width: 7.2%;
    height: 7.2%;
    z-index: 2;
}

.small-size {
    font-size: 15px;
    width: 6%;
    height: 6%;
    z-index: 1;
}



/* Top */
.num-top-1 {
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

.num-top-2 {
    top: 9.8%;
    left: 50%;
    transform: translateX(-50%);
}

.num-top-3 {
    top: 16.40%;
    left: 50%;
    transform: translateX(-50%);
}

.num-top-4 {
    top: 30.4%;
    left: 50%;
    transform: translateX(-50%);
}

/* Top-right */

.num-top-right-1 {
    top: 12.8%;
    left: 76.3%;

}

.num-top-right-2 {
    top: 20.2%;
    left: 71.8%;
}

.num-top-right-3 {
    top: 25.4%;
    left: 68.5%;
}

/* Top-left */

.num-top-left-1 {
    left: 14%;
    top: 12.8%;
}

.num-top-left-2 {
    top: 20.2%;
    left: 21.2%;
}

.num-top-left-3 {
    top: 25.4%;
    left: 26.40%;
}

.num-top-left-4 {
    top: 31.8%;
    left: 32.56%;
}

/* Center */

.num-center {
    top: 43.5%;
    left: 45.3%;
}

.num-center-2 {
    top: 45.1%;
    left: 54.7%
}

/* Center-right */

.num-center-right {
    top: 43.5%;
    right: 1.1%;
}

.num-center-right-2 {
    top: 45%;
    right: 11%;
}


.num-center-right-3 {
    top: 45.8%;
    right: 17.6%;
}

/* Center-left */

.num-center-left {
    top: 43.5%;
    left: 1.3%;
}

.num-center-left-2 {
    top: 45.2%;
    left: 10.8%;
}


.num-center-left-3 {
    top: 45.8%;
    left: 17.9%;
}

.num-center-left-4 {
    top: 45.8%;
    left: 31.5%;
}

/* Bottom */

.num-bottom-1 {
    bottom: 2.9%;
    left: 50%;
    transform: translateX(-50%);
}

.num-bottom-2 {
    bottom: 12.3%;
    transform: translateX(-50%);
    left: 50%;

}

.num-bottom-3 {
    bottom: 19.1%;
    transform: translateX(-50%);
    left: 50%;

}

/* Bottom-right */

.num-bottom-right-1 {
    bottom: 15.3%;
    left: 76.4%;
}

.num-bottom-right-2 {
    bottom: 22.5%;
    left: 71.6%;
}

.num-bottom-right-3 {
    bottom: 27.7%;
    left: 68.5%;
}


.num-bottom-right-4 {
    bottom: 31.54%;
    left: 65.6%;
    width: 3.96%;
    height: 3.96%;
    font-size: 14px;
}

.num-bottom-right-5 {
    bottom: 34.4%;
    left: 63.2%;
    width: 3.41%;
    height: 3.41%;
    font-size: 14px;
}


/* Bottom-left */

.num-bottom-left-1 {
    left: 14%;
    bottom: 15.3%;
}

.num-bottom-left-2 {
    bottom: 22.5%;
    left: 21%;
}

.num-bottom-left-3 {
    bottom: 27.9%;
    left: 26.40%;
}

@media (max-width:768px) {

    .big-size {
        font-size: 18px;
    }

    .middle-size {
        font-size: 14px;
    }

    .small-size {
        font-size: 10px;
    }

    .num-bottom-right-4,
    .num-bottom-right-5 {
        font-size: 8px;
    }
}

@media (max-width:550px) {
    .small-size {
        width: 5.45%;
        height: 5.45%;
    }

    .num-bottom-left-1 {
        bottom: 15.5%;
    }

    .num-bottom-right-1 {
        bottom: 15.5%;
    }

}

@media (max-width:480px) {

    .big-size {
        font-size: 14px;
    }

    .middle-size {
        font-size: 12px;
    }


}


@media (max-width:415px) {
    .num-bottom-left-1 {
        bottom: 15.8%;
    }

    .num-bottom-left-2 {
        bottom: 22.8%;
    }

    .num-bottom-right-1 {
        bottom: 15.8%;
    }

    .num-bottom-right-2 {
        bottom: 22.8%;
        left: 71.8%;
    }

    .num-bottom-3 {
        bottom: 19.3%;
    }

    .num-center-right-3 {
        top: 45.8%;
        right: 17.6%;
    }

}

@media (max-width:390px) {

    .num-bottom-1 {
        bottom: 3.2%;
    }
}