.top {
    overflow: hidden;
    padding-top: 180px;
    padding-bottom: 110px;
    position: relative;
    z-index: 1;
}



.top__background {
    max-width: 1474px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.top__content {
    max-width: 690px;
}

.top__title {
    font-family: 'Prata';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 60px;
}

.top__title span {
    color: var(--secondary-color);
}

.top__text {
    max-width: 622px;
    margin-top: 29px;
    font-size: 23px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.2px;
}

.top__wrapper {
    margin-top: 71px;
    display: flex;
    gap: 0 31px;

}

.top__date {
    min-width: 330px;
    padding: 31px 0;
    border-radius: 50px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 700;
    font-size: 20px;
    font-family: "Futura";
    position: relative;
    z-index: 1;
}

.top__date::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
    z-index: -1;
}

.top__button-wrapper {
    padding-bottom: 5px;
    position: relative;
    z-index: 10;
}

.top__button {
    width: 351px;
    padding: 31px 0 25.07px;
    font-size: 20px;
    clip-path: polygon(.5% 50%, 0 0, 100% 0, 99.5% 50%, 100% 100%, 0 100%);
}

.top__button-wrapper::after {
    content: '';
    bottom: -2px;
    left: 0;
    right: 0;
    border-radius: 10px;
    background: var(--button-border-bottom);
    position: absolute;
    height: 30px;
    z-index: -1;
}

@media (min-width:2000px) {
    .top__background{
        width: 100%;
        max-width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        object-fit: cover;
    }
}

@media (max-width:1000px) {

    .top__title {
        font-size: 40px;
        max-width: 500px;
    }

    .top__background {
        right: -60%;
    }

    .top__text {
        font-size: 18px;
    }

    .top__wrapper {
        margin-top: 50px;

    }

    .top__date,
    .top__button {
        min-width: 250px;
        font-size: 18px;
    }

    .top__button {
        width: 250px;
    }
}


@media (max-width:768px) {
    .top {
        padding: 110px 0 56px;
    }

    .top__background {
        object-fit: cover;
    }

    .top__wrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .top__background {
        right: -80%;
    }
}

@media (max-width:480px) {

    .top__title {
        font-size: 30px;
    }

    .top__background {
        right: -150%;
    }

    .top__wrapper {
        margin-top: 25px;
    }

    .top__text {
        font-size: 15px;
    }
}