.header {
    width: 100%;
    padding: 32px 0 25px;
    position: absolute;
    background-color: var(--header-background);
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.header__logo,
.header__logo-two {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.55px;
    font-family: "Futura";
}


.header__nav {
    display: flex;
    gap: 0 46px;
    margin-right: 60px;
}

.header__link {
    font-weight: 400;
    font-size: 20px;
}

.header__call {
    padding: 12px 68.5px;
    border-radius: 31px;
    box-sizing: border-box;
    border: 1px solid var(--call-button-border);
    color: var(--call-button-color);
    border-radius: 31px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: .3px;
}

.header__theme {
    display: flex;
    gap: 0 21px;
    position: absolute;
    right: 36px;
    top: 30px;
}

.header__theme svg {
    stop-color: #0072FF;
}

.header__menu-close {
    position: absolute;
    top: 32px;
    right: 20px;
    font-size: 20px;
    display: none;
}

.header__menu-close svg {
    pointer-events: none;
}

.header__menu-button,
.header__logo-two {
    display: none;
}


@media (max-width:1660px) {
    .header__nav {
        gap: 0 40px;
        margin: 0;
    }

    .header__theme {
        position: static;
    }
}

@media (max-width:1300px) {

    .header__nav {
        gap: 0 30px;
    }

    .header__logo,
    .header__logo-two {
        font-size: 26px;
    }

    .header__link {
        font-size: 18px;
    }

    .header__call {
        font-size: 15px;
    }

    .header__theme {
        gap: 0 10px;
    }

    .header__theme-button svg {
        width: 30px;
        height: 30px;
    }
}


@media (max-width:1100px) {

    .header__menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--page-background);
        opacity: 0;
        pointer-events: none;
        flex-direction: column;
        padding: 32px 20px;
        align-items: flex-start;
        transition: .4s all linear;
    }

    .header__menu.active {
        opacity: 1;
        pointer-events: painted;

    }

    .header__nav {
        background-color: var(--page-background);
        flex-direction: column;
        gap: 20px;
    }

    .header__call {
        order: 1;
    }

    .header__menu-button {
        display: flex;
        flex-direction: column;
        width: 40px;
        height: 30px;
        order: 1;
        justify-content: space-between;

    }

    .header__menu-button span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--primary-color);
        pointer-events: none;
    }

    .header__menu-close,
    .header__logo-two {
        display: block;
    }



}