.users {
    padding: 16px 72px 16.63px 40px;
    border-bottom: 1px solid var(--secondary-color);
    display: flex;
    justify-content: space-between;
    gap: 0 100px;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 310px);
    background-color: var(--page-background);
}

.users__all {
    display: flex;
    align-items: center;
    gap: 0 10px;
    overflow-x: scroll;
    padding: 1px;
    padding-bottom: 4px;
}

.users__all::-webkit-scrollbar {
    padding-top: 5px;
    margin-top: 5px;
    height: 6px;
    background-color: var(--background-color);
    border-radius: 2px;
}


.users__all::-webkit-scrollbar-thumb {
    background: var(--scroll-track-thumb);
    border-radius: 2px;
}

.users__button {
    width: 60.64px;
    height: 60.64px;
    background-color: var(--background-color);
    border-radius: 50%;
    flex-shrink: 0;
    font-size: 28px;
}

.users__button.active {
    outline: #FFD079 1px solid ;
}
.users__photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    flex-shrink: 0;
}

@media (max-width:1350px) {
    .users {
        width: 100%;
        padding: 16px 20px;
    }
}

@media (max-width:768px) {
    .users__photo {
        width: 40.64px;
        height: 40.64px;
    }

    .users__button {
        width: 40.64px;
        height: 40.64px;
    }

}