.design-person {
    position: relative;
    display: flex;
}

.design-person svg:not(.design-person__graph) {
    flex-shrink: 0;
}

.design-person__graph {
    flex-shrink: 1;
}

.design-person__unconscious {
    position: absolute;
    top: -10px;
    left: 0;
}

.design-person__conscious {
    position: absolute;
    top: -10px;
    right: 0;
}

.design-person__unconscious .design-person__title,
.design-person__unconscious .design-person__subtitle,
.design-person__unconscious .design-person__num-item {
    background: linear-gradient(0.00deg, rgb(236, 0, 140) -11.594%, rgb(252, 103, 103) 77.536%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.design-person__conscious .design-person__title,
.design-person__conscious .design-person__subtitle,
.design-person__conscious .design-person__num-item {
    background: linear-gradient(180.90deg, rgb(255, 208, 121) -89.104%, rgb(255, 232, 191) 6.812%, rgb(255, 208, 121) 98.814%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: end;
}

.design-person__title {
    font-weight: 700;

}

.design-person__subtitle {
    margin-top: 4px;
    font-size: 10px;
    letter-spacing: .4px;
}

.design-person__column {
    display: flex;
    margin-top: 16.68px;
    gap: 6.6px;
    flex-direction: column;
}

.design-person__item {
    display: flex;
    align-items: center;
    gap: 0 6px;
}

.design-person__icon {
    width: 31.72px;
    height: 31.72px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.design-person__unconscious .design-person__icon {
    background: linear-gradient(0.00deg, rgb(236, 0, 140) -11.594%, rgb(252, 103, 103) 77.536%);
    ;
}

.design-person__conscious .design-person__icon {
    background: linear-gradient(180.90deg, rgb(255, 208, 121) -89.104%, rgb(255, 232, 191) 6.812%, rgb(255, 208, 121) 98.814%);
}


.design-person__conscious .design-person__item {
    justify-content: end;
}

.design-person__num-item {
    margin-left: 3px;
    width: 32px;
    font-weight: 700;
}

.design-person__conscious .design-person__num-item {
    justify-content: end;
    margin-left: 0;
    margin-right: 3px;
}

.design-person__box {
    position: absolute;
}

.design-person__head-1 {
    width: 10.53%;
    height: 8.79%;
    left: 50%;
    top: 2.4%;
    transform: translateX(-50%);
}

.design-person__head-2 {
    width: 11.64%;
    height: 9.72%;
    left: 50%;
    top: 15.4%;
    transform: translateX(-50%);
}

.design-person__head-3 {
    width: 13.20%;
    height: 12%;
    left: 50%;
    top: 30.9%;
    transform: translateX(-50%);
}

.design-person__center-1 {
    width: 13.2%;
    height: 13.8%;
    left: 50%;
    top: 47.9%;
    transform: translateX(-50%);
}

.design-person__center-2 {
    width: 9%;
    height: 9%;
    left: 57%;
    top: 60.9%;
}

.design-person__center-3 {
    width: 13.20%;
    height: 13.20%;
    left: 50%;
    top: 68.9%;
    transform: translateX(-50%);
}

.design-person__center-4 {
    width: 10.5%;
    height: 12.7%;
    right: 25%;
    top: 68.9%;
}

.design-person__center-5 {
    width: 10.5%;
    height: 12.7%;
    left: 25%;
    top: 68.9%;
}

.design-person__center-6 {
    width: 10.6%;
    height: 10.6%;
    left: 50%;
    bottom: 3.9%;
    transform: translateX(-50%);
}

.design-person__line {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.design-person__line.column {
    flex-direction: column;
}

.design-person__num {
    font-size: 7px;
    color: #050606;
    font-weight: 700;
    flex-shrink: 0;
    width: 11px;
    height: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.design-person__num.end {
    margin-left: auto;
}

.design-person__num.absolute {
    position: absolute;
}

.design-person__num.background {
    border-radius: 50px;
    color: #fff;
    background: linear-gradient(90.00deg, rgb(71, 118, 230), rgb(142, 84, 233) 100%);
}

.design-person__top {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    gap: 10px;
    position: absolute;
    top: 8%;
    left: 19%;
    right: 19%;
}

.design-person__top-wrapper {
    display: flex;
    align-items: center;
    gap: 0 8px;
}

.design-person__top-wrapper.end {
    justify-content: flex-end;
}

.design-person__top-pink {
    background: linear-gradient(0.00deg, rgb(236, 0, 140) -11.594%, rgb(252, 103, 103) 77.536%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.design-person__top-yellow {
    background: linear-gradient(180.90deg, rgb(255, 208, 121) -90.154%, rgb(255, 232, 191) 6.484%, rgb(255, 208, 121) 99.177%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.design-person__decipher {
    display: flex;
    gap: 0 1.68px;
    margin-top: 9.24px;
}

.design-person__decipher-icon {
    position: relative;

}

.design-person__decipher-num {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 10px;
    font-weight: 700;
}

.design-person__decipher-name {
    font-size: 8px;
    display: block;
    margin-top: 3.6px;
    text-align: center;
}


@media (max-width:768px) {
    .design-person__top-wrapper svg {
        width: 20px;
        height: 12px;
        font-size: 12px;
    }

    .design-person__decipher-name {
        font-size: 6px;
    }

    .design-person__decipher {
        margin-top: 4px;
    }

    .design-person__top {
        gap: 5px;
        top: 4%;
    }

    .design-person__top-pink,
    .design-person__top-yellow {
        font-size: 12px;
    }
}

@media (max-width:550px) {

    .design-person__num-item {
        font-size: 14px;
        width: 20px;
    }

    .design-person__item {
        gap: 0 3px;
    }

    .design-person__icon {
        width: 20px;
        height: 20px;
    }

    .design-person__icon svg {
        width: 10px;
        height: 10px;
    }

    .design-person__num {
        font-size: 5px;
        width: 8px;
        height: 8px;
    }

    .design-person__top {
        font-size: 14px;
        left: 25%;
        right: 25%;
    }

    .design-person__decipher-icon {
        width: 20px;
        height: 20px;
    }

    .design-person__subtitle {
        font-size: 8px;
    }

    .design-person__title {
        font-size: 14px;
    }
}


@media (max-width:480px) {
    .design-person__num {
        font-size: 5px;
    }

    .design-person__num-item {
        font-size: 10px;
    }

    .design-person__column {
        margin-top: 5px;
        gap: 1.5px;
    }

    .design-person__decipher-name {
        font-size: 7px;
    }

    .design-person__decipher-num {
        font-size: 7px;
    }

    .design-person__decipher-icon {
        width: 16px;
        height: 16px;
    }
}